body, main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > h1 {
  width: 100%;
  text-align: center;
  color: var(--body-default);
  font-size: var(--headline-size);
  letter-spacing: var(--headline-spacing);
}
