main {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

main > h1 {
  width: 100%;
  font-size: 6rem;
  font-style: italic;
  letter-spacing: calc(-0.01 * 6rem);
}

main > h2 {
  margin: 0;
  font-size: var(--subheadline-size);
  letter-spacing: var(--subheadline-spacing);
}

p {
  margin: 0;
  height: 100%;
  font-weight: 300;
  line-height: 1.25;
  text-align: justify;
}

