<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="foundations/colors.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="foundations/fonts.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="foundations/form.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="foundations/layout.css" crossorigin="anonymous" />
	<link rel="icon" href="favicon.ico" sizes="any" crossorigin="anonymous">
	<meta name="theme-color" content="#FFFFFF">
        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
