<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/foundations/typography.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="/foundations/colors.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="/foundations/layout.css" crossorigin="anonymous" />
	<link rel="icon" href="/favicon.ico" sizes="any" />
	<link rel="preload" href="/fonts/instrument/InstrumentSerif-Italic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
	<link rel="preload" href="/fonts/instrument/InstrumentSerif-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
	<meta name="theme-color" content="#FFFFFF">
        {% block head %}{% endblock head %}
    </head>
    <body>
	<main>
	    {% include "partials/header.html" %}
	    {% block content %}{% endblock content %}
	</main>
    </body>
</html>
