<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/foundations/typography.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/foundations/colors.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/foundations/layout.css" crossorigin="anonymous" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="preload" href="/fonts/instrument-italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/instrument-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <meta name="theme-color" content="#FFFFFF">
    <title>Avantguarda</title>
    <meta name="description" content="Avantguarda é um coletivo de tecnologia que desenvolve utilitários para aqueles que estão na linha de frente da produção cultural, científica e industrial no Brasil."/>
    <link rel="stylesheet" href="/styles/pages/index.css" crossorigin="anonymous" /> 
  </head>
  <body>
    <main>
      <h1>Ava<i>n</i>t</h1>
    </main>
  </body>
</html>
