{% extends "base.html" %}
{% block head %}
<title>Casa Paulista</title>
<meta name="description" content="Casa Paulista é um estúdio de tecnologia independente em Atibaia, focado em amplificar a identidade brasileira por meio de soluções inovadoras, como websites imersivos, e-commerces rápidos e aplicativos nativos. Também apoia a privacidade digital e a representatividade no setor."/>
<link rel="stylesheet" href="pages/index.css" crossorigin="anonymous" /> 
{% endblock head %}

{% block content %}
    <h1><i>casa</i> paulista</h1>
    <p id="sobre">{{ section.content | safe }}</p>
    <footer id="contato">
	<a href="mailto:ola@casapaulista.com">ola@casapaulista.com</a>
	<a href="https://github.com/casapaulista" target="_blank">acompanhe os nossos projetos</a>
    </footer>
{% endblock content %}
