{% extends "base.html" %}
{% block head %}
<title>Casa Paulista | {{page.title | capitalize}}</title>
<meta name="description" content="Casa Paulista é um estúdio de tecnologia independente em Atibaia, focado em amplificar a identidade brasileira por meio de soluções inovadoras, como websites imersivos, e-commerces rápidos e aplicativos nativos. Também apoia a privacidade digital e a representatividade no setor."/>
<link rel="stylesheet" href="/pages/services.css" crossorigin="anonymous" /> 
{% endblock head %}

{% block content %}
    <h1>{{page.title}}</h1>
    <p>{{ page.content | safe }}</p>
{% endblock content %}
